<ion-content padding>
	<div *ngIf="driver_trips != undefined || driver_trips != null || driver_trips.tripsCompletedRider != undefined || driver_trips.tripsCompletedRider != null">
		<ion-grid>
			<ion-row>
				<ion-col width-50>Place</ion-col>
				<ion-col width-50>Date</ion-col>
			</ion-row>	
			<ion-row *ngFor="let trip of driver_trips.tripsCompletedRider">
			    <ion-col width-50>{{ trip.place }}</ion-col>
			    <ion-col width-50>{{ trip.date }}</ion-col>
			</ion-row>		
		</ion-grid>		
	</div>
	<div *ngIf="driver_trips == undefined || driver_trips == null || driver_trips.tripsCompletedRider == undefined || driver_trips.tripsCompletedRider == null">
		No trips registered
	</div>
</ion-content>
