page-trips-guest {
	
	ion-content{
		background: #f9f9f9 !important;
	}

	ion-card{
		.header-card{
			background: #f0f0f0 !important;
			color: rgba(0,0,0,0.9) !important;
			&:hover{
				background: green;
			}
		}
	}

	p.aTop{
		margin-top: -10px !important;
	}

	p.slideName{
		font-size: .7em;
		line-height: 2em;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
	}
}
