<ion-header>

  <ion-navbar color="blue-light">
    <ion-title>Detail Trip</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<div *ngIf="userProfiletrip != undefined || trip != null" class="bg-details">
		<div class="imgDriver">
			<img [src]="trip.driverPic">
			<ion-row>		
				<ion-col with-100 text-center>{{ trip.driverFirstName }} {{ trip.driverLastName }}</ion-col>
			</ion-row>			
		</div>
		<hr>
		
		<ion-grid>
			<ion-row>
				<ion-col with-20>
					<ion-slides autoplay style="width: 40% !important;">
					  <ion-slide *ngFor="let slide of trip.activitiesTypes">
						<img [src]="slide.urlPic">
						<!-- <p class="slideName">{{ slide.name }}</p> -->
					  </ion-slide>
					</ion-slides>		
				</ion-col>
				<ion-col with-80 text-left>
					<b>{{ trip.destination }}</b>
					<span> {{ trip.destinationCity }}, {{ trip.destinationState }}</span>
				</ion-col>
			</ion-row>
			
			<ion-row>		
				<ion-col with-20><b>Details: </b></ion-col>
				<ion-col with-80 text-left class="col2"> {{ trip.activityDescription }}</ion-col>
			</ion-row>

			<ion-row>		
				<ion-col with-20><b>Pick up: </b></ion-col>
				<ion-col with-80 text-left class="col2"> {{ trip.pickupTime }}</ion-col>
			</ion-row>		
				
			<ion-row>			
				<ion-col with-20><b>Drop off: </b></ion-col>
				<ion-col with-80 text-left class="col2"> {{ trip.dropOffTime }}</ion-col>
			</ion-row>		

			<ion-row>
				<ion-col with-20><b>Available seats: </b></ion-col>
				<ion-col with-80 text-left class="col2"> {{ trip.totalSeatsAvailable }}</ion-col>
			</ion-row>		

			<ion-row>
				<ion-col with-20><b>Car type:</b></ion-col>
				<ion-col with-80 text-left class="col2"> {{ trip.carType }}</ion-col>
			</ion-row>		

			<ion-row>
				<ion-col with-20><b>Cost:</b></ion-col>
				<ion-col with-80 text-left class="col2"> {{ trip.cost }}</ion-col>
			</ion-row>		

			<ion-row>
				<ion-col with-20><b>Smoking friendly:</b></ion-col>
				<ion-col with-80 text-left class="col2">
					<span *ngIf="trip.smokingFriendly">yes</span>
					<span *ngIf="!trip.smokingFriendly">no</span>
				</ion-col>
			</ion-row>		

			<ion-row>
				<ion-col with-20> <b>Music in the car:</b></ion-col>
				<ion-col with-80 text-left class="col2"> 
					<span *ngIf="trip.musicInCar">yes</span>
					<span *ngIf="!trip.musicInCar">no</span>
				</ion-col>	
			</ion-row>	
		</ion-grid>	

		<ion-toolbar text-center><b>Riders</b></ion-toolbar>
		<ion-list *ngFor="let rider of trip.ridersOfTrip">
		  <ion-item>
		    <ion-avatar item-left>
		      <img [src]="rider.urlPicRider">
		    </ion-avatar>
		    <h2>{{ rider.firstNameRider }} {{ rider.lastNameRider }}</h2>
		  </ion-item>
		</ion-list>

		<button ion-button color="blue-light" full (click)="letRide()">
			Let's ride!
		</button>			
	</div>
</ion-content>
