page-detail-trip {
	
	.bg-details{
		background: #f9f9f9;
	}

	div.imgDriver{
		text-align:center;
		img{
			display:block;
			border-radius: 50%;
			width: 70%;
			margin: auto;
		}
		.title{
			margin-top: 5px;
			border-top: 1px solid rgba(0,0,0,0.2);
			border-bottom: 1px solid rgba(0,0,0,0.2);
		}
	}
	div.imgGroup{
		text-align:center;
		img{
			display:block;
			margin: auto;
		}
		.title{
			margin-top: 5px;
			border-top: 1px solid rgba(0,0,0,0.2);
			border-bottom: 1px solid rgba(0,0,0,0.2);
		}
	}

	.col2{
		font-size:.7em;
		margin-left: -150px;
		background: #e9ebee;
	}

    .ridersList{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
	    .itemRider{
	        width: 28%;
	        margin: 2%;
	        img{
	        	border-radius: 50%;
	        }
	        p{
	        	text-align: center;
	        }
	    }	
    } 
}
