page-detail-trip {
	
	.bg-details{
		background: #f9f9f9;
	}

	div.imgDriver{
		text-align:center;
		img{
			display:block;
			border-radius: 50%;
			width:60%;
			margin: auto;
		}
	}

	.col2{
		font-size:.7em;
		margin-left: -40px;
		background: lavender;
	}

    #ridersList{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    #ridersList{
	    .itemRider{
	        width: 28%;
	        margin: 2%;
	        img{
	        	border-radius: 50%;
	        }
	        p{
	        	text-align: center;
	        }
	    }	
    } 
}
