<ion-header>

  <ion-navbar color="blue-light">
    <ion-title>Detail Trip</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<div *ngIf="userProfiletrip != undefined || trip != null" class="bg-details">

		<div *ngIf="trip.groupTrip">
			<div class="imgGroup">
				<img [src]="trip.groupTripInfo.pic">			
			</div>

			<div class="tripDestination sombra_5">
				<div class="_75"><p>{{ trip.destination }}</p></div>
				<div class="_25">	
						<ion-slides autoplay>
						<ion-slide *ngFor="let slide of trip.activitiesTypes">
						<img [src]="slide.urlPic">
						</ion-slide>
					</ion-slides>	
				</div>
			</div>

			<ion-list>
				<ion-list-header>
					<ion-label>Details</ion-label>
				</ion-list-header>
				<p class="details">{{ trip.activityDescription }}</p>
			</ion-list>

			<ion-item-group>
				<ion-item-divider color="light"></ion-item-divider>
				<ion-item><span item-left>Pick of</span><span item-right>{{ trip.pickupTimeLongFormat }}</span></ion-item>
				<ion-item><span item-left>Drop off</span><span item-right>{{ trip.dropOffTimeLongFormat }}</span></ion-item>
			</ion-item-group>

			<ion-item-group>
				<ion-item-divider color="light"></ion-item-divider>
				<ion-item><span item-left>Available seats</span>
					<span item-right>{{ trip.groupTripInfo.seatsAvailableForDrivers + trip.groupTripInfo.seatsAvailableForRiders }}</span>
				</ion-item>
				<ion-item><span item-left>Drivers</span><span item-right>{{ trip.groupTripInfo.seatsAvailableForDrivers }}</span></ion-item>
				<ion-item><span item-left>Riders</span><span item-right>{{ trip.groupTripInfo.seatsAvailableForRiders }}</span></ion-item>
			</ion-item-group>			

			<ion-item-group>
				<ion-item-divider color="light"></ion-item-divider>
				<ion-item><span item-left>Price as driver</span><span item-right>{{ trip.groupTripInfo.priceAsRider | currency }}</span></ion-item>
				<ion-item><span item-left>Price as rider</span><span item-right>{{ trip.groupTripInfo.priceAsDriver | currency }}</span></ion-item>				
				<ion-item *ngFor="let cost of trip.groupTripInfo.pricesGroupTrip">
					<span item-left>{{ cost.field }}</span><span item-right>{{ cost.priceAmount | currency }}</span>
				</ion-item>
			</ion-item-group>

			<div class="ridersList">
				<ion-item-divider color="light"></ion-item-divider>				
				<ion-item>
				  <ion-icon name="people" item-left></ion-icon>
				  Members
				  <ion-badge item-right *ngIf="trip.groupTripInfo.members.length > 0">{{ trip.groupTripInfo.members.length }}</ion-badge>
				</ion-item>
				<div class="itemRider" *ngFor="let member of trip.groupTripInfo.members" (click)="goUserInfo(member)">
			     	<img [src]="member.pic">
			     	<p>
						{{ member.firstName}} {{ member.lastName }}
			     	</p>
				</div>
			</div>  
		</div>

<!--*************************************************************************************-->

		<div *ngIf="trip.singleTrip">
			<div class="imgDriver">
				<img [src]="trip.singleTripInfo.driverInfo.pic">
				<ion-row class="title">		
					<ion-col with-100 text-center><p>{{ trip.singleTripInfo.driverInfo.firstName }} {{ trip.singleTripInfo.driverInfo.lastName }}</p></ion-col>
				</ion-row>			
			</div>				

			<div class="tripDestination sombra_5">
				<div class="_75"><p>{{ trip.destination }}</p></div>
				<div class="_25">	
						<ion-slides autoplay>
						<ion-slide *ngFor="let slide of trip.activitiesTypes">
						<img [src]="slide.urlPic">
						</ion-slide>
					</ion-slides>	
				</div>
			</div>		
			
			<ion-list>
				<ion-list-header>
					<ion-label>Details</ion-label>
				</ion-list-header>
				<p class="details">{{ trip.activityDescription }}</p>
			</ion-list>	

			<ion-item-group>
				<ion-item-divider color="light"></ion-item-divider>
				<ion-item><span item-left>Pick of</span><span item-right>{{ trip.pickupTimeLongFormat }}</span></ion-item>
				<ion-item><span item-left>Drop off</span><span item-right>{{ trip.dropOffTimeLongFormat }}</span></ion-item>
			</ion-item-group>

			<ion-item-group>
				<ion-item-divider color="light"></ion-item-divider>
				<ion-item><span item-left>Car</span><span item-right>{{ trip.singleTripInfo.carType }}</span></ion-item>
				<ion-item><span item-left>Available seats</span><span item-right>{{ trip.totalSeatsAvailable }}</span></ion-item>
				<ion-item>
					<span item-left>Smoking friendly</span>
					<span item-right *ngIf="trip.singleTripInfo.smokingFriendly">yes</span>
					<span item-right *ngIf="!trip.singleTripInfo.smokingFriendly">no</span>
				</ion-item>
				<ion-item>
					<span item-left>Music in car</span>
					<span item-right *ngIf="trip.singleTripInfo.musicInCar">yes</span>
					<span item-right *ngIf="!trip.singleTripInfo.musicInCar">no</span>
				</ion-item>
			</ion-item-group>	

			<ion-item-group>
				<ion-item-divider color="light"></ion-item-divider>
				<ion-item><span item-left>Cost</span><span item-right>{{ trip.singleTripInfo.costSingleTrip }}</span></ion-item>				
			</ion-item-group>

			<div class="ridersList">
				<ion-item-divider color="light"></ion-item-divider>				
				<ion-item>
				  <ion-icon name="people" item-left></ion-icon>
				  Members
				  <ion-badge item-right *ngIf="trip.singleTripInfo.riders.length > 0">{{ trip.singleTripInfo.riders.length }}</ion-badge>
				</ion-item>		
				<div class="itemRider" *ngFor="let rider of trip.singleTripInfo.riders" (click)="goUserInfo(rider)">
			     	<img [src]="rider.pic">
			     	<p>
						{{ rider.firstName }} {{ rider.lastName }}
			     	</p>
				</div>
			</div>	
		</div>
	

		<div text-center>
			<button ion-button color="blue-light" (click)="letRide()" *ngIf="show">
				Let's ride!
			</button>	
		</div>		
	</div>
</ion-content>
