page-about-us {
    p{
        font-family: 'Roboto', sans-serif !important;
        font-weight: 400;
        color: #202020;
        margin: 0 0 15px;    
        font-size: 1em;
        line-height: 20px;
        text-align: justify;   

        span.capital{
            font-size:1.6em;
            float:left;
            padding-right:10px;
            line-height: 40px;
        }
    }
}
