page-accept-terms {
    ion-content{
        .desc{
            padding: 1em;
            max-height: 75%;
        }

        .agree-box{
            padding-top: 1.5em;
            width: 55%;
            margin: 0 auto; 
        }
    }
}
