page-search-trips {

	// ion-content{
	// 	background: url("/assets/images/img_theming/1.jpg");
	// 	background-repeat: none;
	// 	background-size: cover;
	// }

	.results{
        position: absolute;
        width: 94%;
		margin: auto;
		z-index: 30;
        border: 2px solid #387EF5;
        margin-top: -2px;
		ion-item{
			background: #fff;
		}
	}

	.box{
		padding: 4em 1em 1em 1em;
		background: #FFF;
	}
}
