page-search-trips {

	// ion-content{
	// 	background: url("/assets/images/img_theming/1.jpg");
	// 	background-repeat: none;
	// 	background-size: cover;
	// }

	.results{
		z-index: 30;
		ion-item{
			border: 1px dotted #f1f1f1;
		}
	}

	.box{
		padding: 4em 1em 1em 1em;
		background: #FFF;
	}
}
