<ion-header>
  <ion-toolbar color="blue-light">
    <ion-title>Search Trips</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="box">
		
		<ion-label>Ridj-it: Carpool your way to adventure!</ion-label>

	   	<ion-item>
			<ion-label stacked>Destination</ion-label>
			<ion-input type="text" name="destination" [(ngModel)]="search.destination" (keyup)="showResults()"></ion-input>
	    </ion-item>
			<div class="results" *ngIf="show">
				<ion-list>
					<ion-item (click)="setDestine({destination:'New york'})">Resultado uno</ion-item>
					<ion-item (click)="setDestine({destination:'Moscu'})">Resultado dos</ion-item>
					<ion-item (click)="setDestine({destination:'Caracas'})">Resultado tres</ion-item>
				</ion-list>
			</div>
	    <ion-item>
			<ion-label stacked>Start Date</ion-label>
			<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="search.start"></ion-datetime>    	
	    </ion-item>
	   	<ion-item>
			<ion-label stacked>End Date</ion-label>
			<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="search.end"></ion-datetime> 	
	    </ion-item>
	    <ion-item>
	    	<ion-label stacked>Activities</ion-label>
	    	<ion-select [(ngModel)]="search.activities" multiple="true">
	    		<ion-option [value]="act.cod" *ngFor="let act of activities">
	    			{{ act.name }}
	    		</ion-option>
	    	</ion-select>
	    </ion-item>

		<button ion-button color="blue-light" full (click)="dismiss(true)">
			Search
			&nbsp;<ion-icon name="search"></ion-icon>
		</button>

	</div>

</ion-content>