<ion-header>
  <ion-navbar color="blue-light">
    <ion-title>Post Trip</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<p></p>
  <ion-slides #postTripSlider pager>
    <ion-slide>
      <form [formGroup]="slideOneForm">
        <ion-item>
          <ion-label stacked>Destination*</ion-label>
          <ion-input type="text" formControlName="destination"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Activities*</ion-label>
          <ion-select  multiple="true" *ngIf="activities" formControlName="activities">
            <ion-option [value]="act.cod" *ngFor="let act of activities">
            {{ act.name }}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-list radio-group formControlName="difficulty">
          <ion-list-header>
            Difficulty Hiking*
          </ion-list-header>
          <ion-item>
            <ion-label>Easy</ion-label>
            <ion-radio value="easy"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Moderate</ion-label>
            <ion-radio value="moderate"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Difficulty</ion-label>
            <ion-radio value="difficulty"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-label stacked>Activity Description*</ion-label>
          <ion-textarea name="description" formControlName="description"></ion-textarea>
        </ion-item>
       
        <ion-item>
          Duration*
        </ion-item>
        <ion-item>
          <ion-range min="1" max="24" color="blue-light" formControlName="duration">
            <ion-label range-left>1</ion-label>
            <ion-label range-right>24</ion-label>
          </ion-range>
        </ion-item>

        <ion-buttons>
          <button ion-button icon-right (click)="next()">
            Next <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-buttons>          
      </form>
    </ion-slide>

    <ion-slide>
      <h1>Let's talk car stuff.</h1>
      <ion-label>(Vroom vroom!)</ion-label>
      <form>
        <ion-list>
          <ion-item>
            <ion-label stacked>My Cars*</ion-label>
            <ion-select>
              <ion-option value="hola">
               carro1 
              </ion-option>
              <ion-option value="hola2">
               carro2 
              </ion-option>            
            </ion-select>
          </ion-item> 
          <ion-buttons>
          <button ion-button icon-left color="primary" (click)="showNewCarModal($event)">
            New car
          </button>
        </ion-buttons> 
          <ion-item>
            <ion-label>Available seats</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Smoking Friendly?</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Music in the car</ion-label>
            <ion-toggle checked="true"></ion-toggle>
          </ion-item>          
        </ion-list>
        <ion-buttons>
          <button ion-button icon-left (click)="prev()">
            <ion-icon name="arrow-back"></ion-icon> Prev
          </button>
          <button ion-button icon-right (click)="next()">
            Next <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-buttons> 
<!--         <button ion-button full color="secondary"  (click)="save()">
          Save
        </button> -->
      </form>
    </ion-slide>
    <ion-slide>
      <form>
        <h1>When & Where?</h1>
        <ion-list>
          <ion-item>
            <ion-label>Date of trip:*</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Pickup time:</ion-label>
            <ion-datetime displayFormat="H:m A" pickerFormat="h:m A"></ion-datetime>
          </ion-item>  

        <ion-item>
          <ion-label> Which T Station: </ion-label>
          <ion-select>
            <ion-option>
            estación de prueba
            </ion-option>
          </ion-select>
        </ion-item>

          <ion-item>
            <ion-label>Drop off time :</ion-label>
            <ion-datetime displayFormat="H:m A" pickerFormat="h:m A"></ion-datetime>
          </ion-item>                    
        </ion-list>
        <ion-buttons>
          <button ion-button icon-left (click)="prev()">
            <ion-icon name="arrow-back"></ion-icon> Prev
          </button>
          <button ion-button icon-right (click)="next()">
            Next <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-buttons>         
      </form>
    </ion-slide>

      <ion-slide>
        <h1>Here's the deal ...</h1>
        <h2>Great! You can earn $8.00 for your first passenger.</h2>
        <h2>Would you like to continue posting your ride?</h2>
        <ion-buttons>
          <button ion-button icon-left (click)="prev()">
            <ion-icon name="arrow-back"></ion-icon> Prev
          </button>
          <button ion-button icon-left>
            Yes
          </button>          
          <button ion-button icon-right>
            No
          </button>
        </ion-buttons>          
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <b>Let's review</b>
          </ion-card-header>
          <ion-card-content>
            form , form 2, form3.
          </ion-card-content>
        </ion-card>
        <ion-buttons>
          <button ion-button icon-left >
            Confirm your trip! (Let's ride)
          </button>
        </ion-buttons>
      </ion-slide>
  </ion-slides>
</ion-content>