<ion-header>

  <ion-navbar color="blue-light">
    <ion-title>Post Trip</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <ion-item>
        <ion-label stacked>Destination</ion-label>
        <ion-input type="text" name="destination"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Activities*</ion-label>
        <ion-select [(ngModel)]="tripData.activities" multiple="true" *ngIf="activities">
          <ion-option [value]="act.cod" *ngFor="let act of activities" >
            {{ act.name }}
          </ion-option>
        </ion-select>
      </ion-item> 
      <ion-list radio-group [(ngModel)]="tripData.difficulty">
        <ion-list-header>
          Difficulty Hiking*
        </ion-list-header>
        <ion-item>
          <ion-label>Easy</ion-label>
          <ion-radio value="easy"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Moderate</ion-label>
          <ion-radio value="moderate"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Difficulty</ion-label>
          <ion-radio value="difficulty"></ion-radio>
        </ion-item>        
      </ion-list>

      <ion-item>
        <ion-label stacked>Activity Description*</ion-label>
        <ion-input type="text" name="description"></ion-input>
      </ion-item>    

      <ion-item>
          Duration*
      </ion-item>
      <ion-item>            
        <ion-range min="1" max="24" [(ngModel)]="tripData.duration" color="blue-light">
          <ion-label range-left>1</ion-label>
          <ion-label range-right>24</ion-label>
        </ion-range>
      </ion-item>

</ion-content>
