<ion-content padding>
  <div *ngIf="rider_trips != undefined || rider_trips != null || driver_trips.upcomingTripsRider != undefined || rider_trips.upcomingTripsRider != null">
		<ion-grid>
			<ion-row>
				<ion-col width-50>Place</ion-col>
				<ion-col width-50>Date</ion-col>
			</ion-row>	
			<ion-row *ngFor="let trip of driver_trips.upcomingTripsRider">
			    <ion-col width-50>{{ trip.place }}</ion-col>
			    <ion-col width-50>{{ trip.date }}</ion-col>
			</ion-row>		
		</ion-grid>		
	</div>
	<div *ngIf="rider_trips == undefined || rider_trips == null || rider_trips.upcomingTripsRider == undefined || rider_trips.upcomingTripsRider == null">
		No trips registered
	</div>
</ion-content>
