<ion-header>
    <ion-navbar color="blue-light">
        <ion-title>Filter trips listed</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label stacked>Start Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="filter.start"></ion-datetime>    	
    </ion-item>
    <ion-item>
        <ion-label stacked>End Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="filter.end "></ion-datetime> 	
        <ion-item-divider color="light"></ion-item-divider>
    </ion-item>
    <ion-item stacked>
        <ion-label>Group Trip</ion-label>
        <ion-toggle [(ngModel)]="filter.groupTrip"></ion-toggle>
    </ion-item>
    <ion-item-group *ngIf="!filter.groupTrip">
        <ion-item>
            <b item-left>Gender</b> <span item-right>{{ filter.gender }}</span>
        </ion-item>
        <ion-list radio-group [(ngModel)]="filter.gender">
        <ion-item>
            <ion-label stacked>Male</ion-label>
            <ion-radio checked="true" value="male" ></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label stacked>Female</ion-label>
            <ion-radio value="female" ></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label stacked>Doesn't matter</ion-label>
            <ion-radio value="anyone" checked></ion-radio>
        </ion-item>
        </ion-list>
    </ion-item-group>
    <ion-item>
        <ion-label stacked>Activities</ion-label>
        <ion-select [(ngModel)]="filter.activities" multiple="true">
        <ion-option [value]="act.code" *ngFor="let act of activities">
        {{ act.name }}
        </ion-option>
        </ion-select>
    </ion-item>
    <button ion-button color="blue-light" full (click)="dismiss(true)"> Apply </button>
</ion-content>